*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.index{
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    justify-content: center;
    display: flex;
    align-items: center;
   
}
.img{
    animation: zoom 20s;
    opacity: 50;
    width: 100%;
    position: absolute;
    height: 100%;
}
.header{
    width: 85%;
    background-color: rgba(0, 0, 0, 0.644);
    text-align: center;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5%;

}
.h1-index{
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.74);
    color:red;
    font-size: 2rem; 
    opacity: 0;
    animation: chegandoescrita 0s 1.3s both ;
}
.text-block{
    position: relative;
    overflow: hidden;
}
.text-block:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(250, 248, 248);
    transform: translateX(-100%);
    animation: iniciando 0.5s 0.6s both, passando .5s 1.1s both;
}
h2{
    padding: 1rem;
    text-transform: uppercase;
}
p{
    margin-top: 0.7rem;
    font-weight: bold;
}
.p3{
    text-transform: uppercase;
    
}
.button-index{
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: rgb(14, 25, 56);
    font-size: 1rem;
    font-weight: bold;
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
   
}
/*-------------------------EFEITO IMAGEM DE FUNDO------------------------*/
@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes chegandoescrita{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes passando{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}
@keyframes iniciando{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
/*----------------------------------------------------------------------*/
/*--------------------------PAGINA JOGO.HTML------------------------------*/

#stage{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 2%;
}
.body-jogo{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.jogo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.img-jogo{
    animation: zoom 20s;
    opacity: 50;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
}
.div1{
    display: flex;
    justify-content: center;
}
.button{
    position: relative;
    top: 70%;
    text-align: center;
}
.button2, .button3{
    margin-right: 2px;
    margin-left: 2px;
}
.button1, .button2, .button3, .button4{
    border-radius: 50%;
    color: rgb(251, 252, 253);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 3rem;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.288);

}
@media (max-width:700px){
    #stage{
        width: 400px;
        height: 400px;
        position: absolute;
    }
    .jogo{
        top: -2%;
    }
    .button{
        top: 60%;
    }
    .button2, .button3{
        margin-right: 30px;
        margin-left: 30px;
    }
    .button1, .button2, .button3, .button4{
        padding: 0.6rem 1rem;
    }
@media (max-width:393px){
    #stage{
        width: 350px;
        height: 350px;
    }
}

}